::ng-deep .modal .mat-dialog-container {
    color:white; 
    border-radius: 10px;
    background: linear-gradient(to right, rgb(13, 75, 182) , rgb(53, 184, 144));
}
::ng-deep .mat-focused .mat-form-field-label {
    color: rgb(233, 221, 221) !important;
}

::ng-deep .mat-form-field-label{
    color: rgb(233, 221, 221) !important;   
}
::ng-deep .mat-form-field-underline {
    color: rgb(233, 221, 221) !important;
} 
  
::ng-deep .mat-form-field-ripple {
    color: rgb(233, 221, 221) !important;;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::ng-deep .snackbar button{
    color: white;
    background: transparent;
    border-radius: 10px;
}
::ng-deep .snackbar {
    background: linear-gradient(to right, rgb(13, 75, 182) , rgb(53, 184, 144));
    border-radius: 10px;
}
.grid_wrapper{
    margin-left: 50px;
}
::ng-deep .igx-grid__tbody-message {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to right, rgb(13, 75, 182) , rgb(53, 184, 144));
    color:white;
}
::ng-deep .igx-grid__tfoot {
    display: none;
}
::ng-deep .igx-grid__tbody-content {
}
::ng-deep .igx-grid__thead-wrapper, .igx-grid__tfoot {
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to right, rgb(13, 75, 182) , rgb(53, 184, 144));
}
::ng-deep .igx-grid__th--fw, .igx-grid__td--fw {
    background: transparent;
}
::ng-deep .igx-grid-paginator {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
::ng-deep .igx-grid-toolbar, .igx-grid-toolbar--cosy, .igx-grid-toolbar--compact {
    display: none;
}