<div>
<mat-toolbar>EasyFinances
  <button *ngIf="isLoggedIn()" (click)="navigate('/home')"  style="position: relative; left: 30px; border-radius: 5px;" mat-button>Home</button>
  <button *ngIf="isLoggedIn()" (click)="navigate('/budget')" style="position: relative; left: 30px; border-radius: 5px" mat-button>My budgets</button>
  <button *ngIf="isLoggedIn()" style="position: relative; left: 30px; border-radius: 5px" mat-button>Another</button>
  <button *ngIf="isLoggedIn()" (click)=" this.loginService.logOut();" style="position: relative; left: 30px; border-radius: 5px" mat-button>Log out</button>

</mat-toolbar>
  <router-outlet></router-outlet>
</div>