<button (click)="openModal(addBudgetModal)" mat-raised-button style="border-radius: 10px; height: 40px; margin-top: 20px; margin-left: 50px; color:white; background: linear-gradient(to right, rgb(13, 75, 182) , rgb(53, 184, 144));">
  <mat-icon>add</mat-icon>
  Add new budget
</button>
<ng-template #addBudgetModal>
  <form (ngSubmit)="addBudget(budgetForm.value)" [formGroup]="budgetForm">
    <mat-form-field style="display: block;">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field style="display: block;">
      <input type="number" matInput placeholder="Amount" formControlName="amount">
    </mat-form-field>

    <mat-form-field appearance="fill" color="primary">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Start date" formControlName="date_from" (dateChange)="startDateSelected($event)" required readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" color="primary">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="pickerEnd" placeholder="End date" (click)="pickerEnd.open()" formControlName="date_to" [min]="minEndDate" required readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>

    <button type="submit" [disabled]="!budgetForm.valid" mat-button style="float:right; border-radius: 5px">Add budget</button>
  </form>
  <button (click)="onCancelModal()" mat-button style="float:right; border-radius: 5px;">Cancel</button>
</ng-template>

<div style="margin-top: 20px; margin-left:50px">
  <igx-tree-grid style="overflow-x: hidden; overflow-y: auto;" childDataKey="children" [autoGenerate]="false" [data]="localData" width="95%" height="400px"
    [paging]="true" [showToolbar]="true" toolbarTitle="Portfolios">
    <igx-column field="name" header="Budget name" dataType="string" width="30%" sortable="true" [resizable]="true">
      <ng-template igxCell let-cell="cell">
        {{ cell.rowData.name }}
      </ng-template>
    </igx-column>
    <igx-column field="amount" header="Amount" dataType="string" width="25%" sortable="true">
      <ng-template igxCell let-cell="cell">
        {{ cell.rowData.amount }}
      </ng-template>
    </igx-column>
    <igx-column field="date_from" header="Start Date" dataType="date" width="15%" sortable="true" >
      <ng-template igxCell let-cell="cell">
        {{ cell.rowData.date_from | date: 'dd/MM/yyyy'}}
      </ng-template>
    </igx-column>
    <igx-column field="date_to" header="End date" dataType="date" width="15%" sortable="true">
      <ng-template igxCell let-cell="cell">
        None
      </ng-template>
    </igx-column>
    <igx-column field="id" header="New transaction" dataType="string" width="15%">
      <ng-template igxCell let-cell="cell">
        <button (click)="openModal(addTransactionModal); setSelectedBudget(cell.rowData.id);" mat-button style="border-radius: 10px; color: rgb(48,170,149);">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
  </igx-column>
  </igx-tree-grid>
</div>

<ng-template #addTransactionModal>
  <form (ngSubmit)="addTransaction(transactionForm.value)" [formGroup]="transactionForm">
    <mat-form-field style="display: block;">
      <input type="number" matInput placeholder="Amount" formControlName="amount">
    </mat-form-field>
    <mat-form-field style="display: block;">
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

    <mat-form-field style="display: block;">
      <input matInput placeholder="Type (optional)" formControlName="type">
    </mat-form-field>

    <button type="submit" [disabled]="!transactionForm.valid" mat-button style="float:right; border-radius: 5px">Create transaction</button>
  </form>
  <button (click)="onCancelModal()" mat-button style="float:right; border-radius: 5px;">Cancel</button>
</ng-template>