<div style="margin-top: 50px; margin-left:50px">
  <igx-tree-grid style="overflow-x: hidden; overflow-y: auto;" childDataKey="children" [autoGenerate]="false" [data]="localData" width="95%" height="400px"
    [paging]="true" [showToolbar]="true" toolbarTitle="Transactions">
    <igx-column field="id" header="Transaction id" dataType="string" width="13%" sortable="true" [resizable]="true">
      <ng-template igxCell let-cell="cell">
          {{ cell.rowData.id }}
      </ng-template>
    </igx-column>
    <igx-column field="description" header="Description" dataType="string" width="27%" sortable="true" [resizable]="true">
      <ng-template igxCell let-cell="cell">
          {{ cell.rowData.description }}
      </ng-template>
    </igx-column>
    <igx-column field="amount" header="Amount" dataType="string" width="20%" sortable="true">
        <ng-template igxCell let-cell="cell">
          {{ cell.rowData.amount }}
        </ng-template>
    </igx-column>
    <igx-column field="datetime" header="Transaction date" dataType="date" width="20%" sortable="true" >
        <ng-template igxCell let-cell="cell">
          {{ cell.rowData.datetime | date: 'dd/MM/yyyy &nbsp; &nbsp; HH:mm'}}
        </ng-template>
    </igx-column>
    <igx-column field="type" header="Type" dataType="string" width="20%" sortable="true">
        <ng-template igxCell let-cell="cell">
          {{ cell.rowData.type }}
        </ng-template>
    </igx-column>
  </igx-tree-grid>
</div>