<mat-card style="width: 60%; border-radius:10px; margin-top:50px; margin-left: 50px;color: rgb(233, 221, 221); background-image: linear-gradient(to right, rgb(13, 75, 182) , rgb(53, 184, 144));
">
<p >
  1) To see budgets associated with your account, or add a new one, go to the budgets tab.
</p>
<p>
  2) To see  your transactions, visit the transactions tab.
</p>
<p>
  3) To make a new transaction, click on the + sign in the budgets table.
</p>
<p>
  Data may load for a couple of seconds, since a CORS proxy is used to allow http requests.
</p>
</mat-card>
